name: pangeo
channels:
 - pytorch
 - conda-forge
dependencies:
 - python=3.8*
 - pangeo-notebook=2021.08.16
 - pip=20
 - adlfs
 - awscli
 - boto3
 - bottleneck
 - cartopy
 - cfgrib
 - ciso
 - cmip6_preprocessing
 - dask-geopandas
 - dask-ml
 - datashader
 - descartes
 - eofs
 - erddapy
 - esmpy
 - fastjmd95
 - folium
 - fsspec
 - gcsfs
 - geocube
 - geopandas
 - geoviews-core
 - gsw
 - h5netcdf
 - h5py
 - holoviews
 # - hvplot  # pinned below, regression in >0.7
 - intake
 - intake-esm
 - intake-geopandas
 # - intake-stac  # install pre-release from GitHub.
 - intake-xarray
 - ipyleaflet
 - ipywidgets
 - jupyter-panel-proxy
 - jupyter-resource-usage
 - jupyterlab-geojson
 - leafmap
 - lz4
 - matplotlib-base
 - metpy
 - nb_conda_kernels
 - nbstripout
 - nc-time-axis
 - netcdf4
 # - nomkl  # required by pytorch
 - numcodecs
 - numpy
 - pandas
 - panel
 - parcels
 - planetary-computer>=0.2.2
 - prefect
 - pyarrow
 - pycamhd
 - pydap
 - pyepsg
 - pygeos
 - pystac-client>=0.2.0
 - pystac>=1.1.0
 - python-blosc
 - python-gist
 - python-graphviz
 - rasterio>=1.2.3
 - rechunker
 - rio-cogeo
 - rioxarray
 - s3fs>0.5
 - sat-search
 - sat-stac
 - satpy
 - scikit-image
 - scikit-learn
 - scipy
 - seaborn
 - sparse
 - stac-vrt
 - tiledb-py
 - xarray-spatial>=0.2.7
 - xarray>=0.18.0
 - xarray_leaflet
 - xarrayutils
 - xcape
 - xcube
 - xesmf
 - xgcm
 - xhistogram
 - xlayers
 - xmitgcm
 - xpublish
 - xrft
 - zarr
 # GPU packages - most pinned to hashes to help the solver
 - conda-forge::cudatoolkit==11.*
 - cupy
 - efficientnet-pytorch
 - hvplot==0.7.0  # https://github.com/holoviz/hvplot/issues/576
 - jupyterlab-nvdashboard
 - pretrainedmodels
 - pytorch::pytorch==1.7.0
 - pytorch::torchaudio
 - pytorch::torchvision==0.8.1
 - segmentation-models-pytorch
 - shapely
 - timm
