[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=qgis
Comment=Startup qgis
Exec=/opt/conda/bin/qgis
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
