name: pangeo
channels:
 - conda-forge
dependencies:
 - python=3.*
 - pangeo-notebook>=2022.07.12
 - pip>=20
 - adlfs
 - awscli
 - azure-data-tables
 - boto3
 - bottleneck
 - cartopy
 - cchardet  # workaround https://github.com/Azure/azure-sdk-for-python/issues/21516
 - cfgrib>=0.9.9.1
 - ciso
 - click=8.0.4
 - cmip6_preprocessing
 - contextily
 - dask-cloudprovider
 - azure-cli-core  # technically too old: https://github.com/conda-forge/azure-cli-core-feedstock/pull/15
 - msrestazure
 - azure-identity
 - dask-geopandas
 - dask-ml
 - datacube
 - datashader
 - descartes
 - eccodes>=2.24.2
 - eofs
 - erddapy
 - esmpy
 - fastjmd95
 - flox
 - folium
 - fsspec
 - gcsfs
 - geocube
 - geogif
 - geopandas>=0.11.0
 - geoviews-core
 - gsw
 - h5netcdf
 - h5py
 - holoviews
 - hvplot
 - intake
 - intake-esm
 - intake-geopandas
 - intake-xarray
 - ipyleaflet
 - ipywidgets
 - jupyter-panel-proxy
 - jupyter-resource-usage
 - jupyterlab-geojson
 - leafmap>=0.7.6
 - lz4
 - matplotlib-base
 - metpy
 - nb_conda_kernels
 - nbstripout
 - nc-time-axis
 - netcdf4
 - nomkl
 - numcodecs
 - numpy
 - odc-algo
 - odc-stac
 - pandas
 - panel
 - papermill
 - parcels
 - planetary-computer>=0.4.6
 - prefect
 - pyarrow
 - pycamhd
 - pydap
 - pyepsg
 - pygeos
 - pystac-client==0.3.5  # https://github.com/stac-utils/pystac-client/issues/237
 - pystac>=1.1.0
 - python-blosc
 - python-gist
 - python-graphviz
 - python-pdal>=3.1.2
 - rasterio>=1.3.0
 - rechunker
 - rich
 - rio-cogeo
 - rio-tiler
 - rioxarray
 - s3fs>0.5
 - sarsen
 - satpy
 - scikit-image
 - scikit-learn
 - scipy
 - seaborn
 - sparse
 - stac-vrt
 - stac-geoparquet
 - stackstac>=0.4.2
 - tiledb-py
 - voila
 - xarray-sentinel
 - xarray-spatial>=0.2.9
 - xarray>=0.18.0
 - xarrayutils
 - xcape
 - xclim
 - xcube
 - xesmf
 - xgcm
 - xhistogram
 - xlayers
 - xmitgcm
 - xpublish
 - xrft
 - zarr