name: pangeo
channels:
 - conda-forge
dependencies:
 - python=3.8*
 - pangeo-notebook=2021.11.23
 - pip=20
 - adlfs
 - awscli
 - boto3
 - bottleneck
 - cartopy
 # workaround https://github.com/Azure/azure-sdk-for-python/issues/21516
 # Can be removed once updated to >=1.19.1
 - cchardet
 - cfgrib
 - ciso
 - cmip6_preprocessing
 - contextily
 - dask-ml
 - datashader
 - descartes
 - eofs
 - erddapy
 - esmpy
 - fastjmd95
 - folium
 - fsspec
 - gcsfs
 - geocube
 - geopandas
 - geoviews-core
 - gsw
 - h5netcdf
 - h5py
 - holoviews
 - hvplot
 - intake
 - intake-esm
 - intake-geopandas
 # - intake-stac  # install pre-release from GitHub
 - intake-xarray
 - ipyleaflet
 - ipywidgets
 - jupyter-panel-proxy
 - jupyter-resource-usage
 - jupyterlab-geojson
 - leafmap>=0.7.0
 - lz4
 - matplotlib-base
 - metpy
 - nb_conda_kernels
 - nbstripout
 - nc-time-axis
 - netcdf4
 - nomkl
 - numcodecs
 - numpy
 - pandas
 - panel
 - papermill
 - parcels
 - planetary-computer>=0.4.2
 - prefect
 - pyarrow
 - pycamhd
 - pydap
 - pyepsg
 - pygeos
 - pystac-client>=0.3.2
 - pystac>=1.1.0
 - python-blosc
 - python-gist
 - python-graphviz
 - rasterio
 - rechunker
 - rich
 - rio-cogeo
 - rio-tiler
 - rioxarray
 - s3fs>0.5
 - sat-search
 - sat-stac
 - satpy
 - scikit-image
 - scikit-learn
 - scipy
 - seaborn
 - sparse
 - stackstac>=0.2.2
 - tiledb-py
 - xarray-spatial>=0.2.9
 - xarray>=0.18.0
 - xarrayutils
 - xcape
 - xcube
 - xesmf
 - xgcm
 - xhistogram
 - xlayers
 - xmitgcm
 - xpublish
 - xrft
 - zarr
